/*@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/raleway-800.woff2) format('woff2');

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/rubik-400.woff2) format('woff2');

  font-family: 'Rubik Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/rubik-700.woff2) format('woff2');

}*/
/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Rubik:wght@700;400&display=swap');*/


body {
  font-family: "Rubik", "Arial", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

li, ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

html {
  height: 100%;
}



.index-header {
  width: 1040px;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 17.39px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #fff;
  background-image: linear-gradient(to bottom,#ffffff 40px, #FFE17F 25px);
}

.index-header.side-page{
  height: 208px;
  margin-bottom: 35px;
}
.main-device-logo{
  display: block;
  margin-bottom: 30px;
}

[hidden] { display: none }

.link-icon{
  margin-right: 12px;
}

.user-nav{
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-1{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.search-bar-container{
  width: 519px;
  border: 2px solid #000000;
  border-radius: 50px;
  margin-right: 26.5px;
}

.logout{
  opacity: 0.3;
  margin-left: 28px;
}

.search-bar{
  width: 100%;
  padding: 7px;
}

.nav-menu-2{
  font-weight: 400;
  display: flex;
  margin: 0;
  padding: 0;
  width: 231px;
  justify-content: space-between;
}

.store-nav{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .2rem;
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.store-menu {
  margin: 0;
  padding: 0;
  width: 452px;
  display: flex;
  justify-content: space-between;
}




.index-footer{
  background-color: #444;
}

/*main content*/

.main-container{
  width: 1160px;
  margin: 0 auto;
}

.index-slide{
  display: flex;
  justify-content: space-between;
}

.index-slide-item-link{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.slide-image-container{
  width: 560px;
  display: flex;
  justify-content: flex-start;
}

.slide-button{
  max-height: 60px;
}

.slide-description-container{
  width: 560px;
}

.index-slide-bold-caption{
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 545px;
}

.index-slide-caption{
  margin: 0;
  padding: 0;
  margin-bottom: 61px;
  margin-top: 29px;
}

.index-slide-item-link{
  margin-bottom: 59px;
}

.index-item-info{
  display: flex;
}

.index-categories-list{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.index-categories-list-item{

  width: 160px;
}

.index-categories-list-item p{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;

  line-height: 24px;
  letter-spacing: -0.02em;
}

.categories-item-caption{
  width: 160px;
  min-height: 60px;
}

.index-categories-list-item-container{
  background-color: #FFE17F;
  margin-bottom: 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.index-delivery{
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.index-delivery-icon{
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-delivery-info-icon{
  width: 125px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0F0F0;
}


.index-delivery-button{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  margin: 0 auto;
  flex-grow: 1;
  background-color: #F0F0F0;
  border: 0;
}
.index-advantages{
  background-image: linear-gradient(to bottom,#ffffff 40px, #F0F0F0 25px);

  margin-bottom: 70px;
}

.index-advantages .main-container{

  display: flex;
}

.index-advantages-list{
  margin: 0;
  padding: 0;
  width: 287px;
  margin-right: 116px;
}

.index-advantages-list-item{
  margin: 0;
  padding: 0;
  margin-bottom: 56px;
}

.index-advantages-list button{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .2rem;
  padding-top: 9px;
  padding-bottom: 11px;
}

.index-advantages-slides h2{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.advantages-tab{
  display: flex;
}

.advantages-description-container{
  width: 448px;
  margin-right: 110px;
}

.index-about-container{
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}


.index-about{
  margin: 0;
  padding: 0;
  width: 520px;
  display: flex;
  flex-direction: column;
}


.index-about h2{
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  font-weight: 800px;
  margin-top: 40px;
  margin-bottom: 48px;
}
.index-about p{
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  color: #444444;
}

.index-about ul{
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
}

.index-about li{
  margin-bottom: 19px;
  margin-left: 32px;
}

.index-about h3{
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #444;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.index-about-link, .index-contacts-link{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin: 0;
  padding: 0;
}

.index-about .contacts{
  width: 532px;
}

.index-contacts-address{
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  margin-bottom: 30px;

}

.index-contacts-address a{
  text-decoration: underline;
}
.index-newsletter{
  background-color: #F0F0F0;
}

.index-newsletter strong{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
}

.index-newsletter-container{
  margin-top: 64px;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.index-newsletter-description{
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
}

.index-newsletter-description strong{
  font-weight: 800;
  font-size: 50px;
}

.newsletter-description-container{
  width: 560px;
  color: #444444;
}

.subscribe{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.index-newsletter-subscribe{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 56px;
}
.index-newsletter-subscribe span{
  display: block;
  max-height: 30px;
  margin-left: 16.5px;
  align-self: center;
}

.index-newsletter-subscribe img{
  align-self: center;
}

.index-newsletter-form-container{
  width: 810px;
  height: 57px;
  border: 3px solid #CECECE;
  margin-right: 190px;

}

.index-newsletter-email{
  display: flex;
  padding: 0;
  margin: 0;
}

.index-newsletter-email input[type="text"]{
  flex-grow: 1;
  padding: 11px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #C4C4C4;
  background: transparent;
  border: none;
}

.index-newsletter-email input[type="submit"]{
  width: 253px;
  padding: 18px auto;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;

}

/*footer*/

.index-footer{
  color: #FFF;
}

.index-footer-container{
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 1160px;
  display: grid;
  grid-template-columns: 234px 1fr 248px;
  column-gap: 117px;
  row-gap: 35px;
  padding: 62px;
}

.footer-logo{
  grid-column: 1 / -1;
  grid-row: 1/2;
}

.index-footer-address{
  grid-column: 1/2;
  grid-row: 2/3;
}

.index-footer-pages{
  margin: 0;
  padding: 0;
    font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.index-footer-socialmedia{
  display: grid;
  gap: 15px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 40px);
}

.index-footer-phone{
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  margin-left: auto;
  grid-column: -2 / -1;
  grid-row: 2 / 3;
  align-self: center;
}

.index-footer-htmlacademy{
  margin-left: auto;
  grid-column: -2 / -1;
  grid-row: 3 / 4;
}


/*CATALOG*/



.catalog-category-header{
  width: 1040px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.catalog-category-header h1{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.breadcrumbs{
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.breadcrumbs-item{
  margin-right: 36px;
}

.catalog-products{
  background: #F0F0F0;
}

.catalog-products .main-container{
  display: flex;
}

.filter{
  background-color: #F0F0F0;
  padding: 0 60px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

fieldset {
    border: 0 none;
    padding: 0;
    margin: 0;
}

.filter h2{
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-bottom: 72px;
  padding-top: 25px;
}
.catalog-filter-title{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.catalog-filter-list li{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 19px;
}

.catalog-filter button{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 210px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.product-list-container{
  padding: 40px;
  padding-top: 70px;
  flex-grow: 1;
  background-color: white;
}

.sorting-type{
  background-color: #F0F0F0;
  width: auto;
  padding: 25.5px 40px;
}

.sorting-type-label{
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-bottom: 72px;
  margin-right: 196.5px;
}

.select-control{
  width: 160px;
  height: 30px;
}

.product-list{
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  margin-bottom: 44px;
}

.product-card{
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 32px;
  column-gap: 71px;
}

.product-card-image{
  object-fit: contain;
  grid-row: 1/2;
  grid-column: 1/-1;
}

.product-card-title{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  padding: 0;
  margin: 0;
  grid-row: 2/3;
  grid-column: 1/2;
}
.product-card-price{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
  padding: 0;
  margin: 0;
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  margin-left: auto;
}

.pagination-show-more{
  width: 100%;
  height: 55px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #E5E5E5;
  margin-bottom: 44px;
  background-color: white;
}

.pagination{
  display: flex;
  justify-content: space-between;
  background-color: #EBEBEB;
  margin-bottom: 38px;
}

.pagination-item{
  padding: 15.5px 25px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-pages-number{
  display: flex;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b8b8b8;
}

.pagination-pages-number li{
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
